{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": "webpack",
    "import/parser": "babel-eslint"
  },
  "rules": {
    "import/extensions": [ "error", "never", { "packages": "always" } ],
    "import/no-extraneous-dependencies": [ "error", { "devDependencies" : true } ],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"] }
    ],
    "jsx-a11y/click-events-have-key-events": [ "off" ]
  }
}